.homepage {
  background-color: $iceburg;

  @include bp-md {
    background-color: $white;
  }

  &__want-to {
    color: $san-juan;

    @include bp-md {
      text-align: center;
    }

    &__intro {
      margin-top: space(32);
      margin-bottom: space(64);

      @include bp-md {
        margin-top: 0;
      }
    }

    &__title {
      margin-bottom: space(16);
    }
  }
}
