.homepage {
  background-color: $iceburg;

  @include bp-md {
    background-color: $white;
  }

  &__want-to {
    color: $san-juan;
    padding-bottom: space(96);

    @include bp-md {
      text-align: center;
      padding-bottom: space(40);
    }

    &__intro {
      padding-top: space(32);
      margin-bottom: space(64);

      @include bp-md {
        padding-top: 0;
      }
    }

    &__title {
      margin-bottom: space(16);
    }
  }
}
