.homepage {
  background-color: $hawkes-blue;

  @include bp-md {
    background-color: $white;
  }

  &__want-to {
    color: $san-juan;

    @include bp-md {
      text-align: center;
    }
    &__intro {
      margin-bottom: space(64);
    }
  }
}
