.service {
  &__title {
    color: $san-juan;
    padding: space(40) 0;

    @include bp-md {
      padding: space(40) 0 space(40) space(40);
    }

    &--accordion {
      display: none;
      @include bp-md {
        display: block;
      }
    }
  }

  &__social {
    margin-top: space(24);

    &--second-row{
      margin-top: space(16);

      @include bp-xl{
        margin-top: 0;
      }
    }
  }

  &__share {
    margin-top: space(24);
    padding: space(24) space(16);
    background: url(../../../assets/img/svg/backgrounds/service-share-shape.svg)
      no-repeat;
    color: $san-juan;
    display: none;

    @include bp-md {
      display: flex;
    }

    &-item {
      margin-right: space(24);
    }

    &-btn {
      display: block;

      @include bp-md {
        display: none;
      }
    }
  }

  &__video {
    margin-top: space(32);
  }

  &__related {
    background: url(../../../assets/img/svg/backgrounds/service-related.svg)
      no-repeat;
    background-size: cover;
    color: $san-juan;
    padding-top: space(80);
    margin-top: space(40);

    &__intro {
      text-align: center;
      padding-bottom: space(40);
    }

    &__btn {
      text-align: center;
      padding: space(40) 0;
    }
  }

  + .footer {
    margin-top: -20px;

    &::before {
      background-color: $hawkes-blue;
    }

    @include bp-sm {
      margin-top: 80px;
    }

    @include bp-md {
      margin-top: 100px;
    }
  }
}

.content-block {
  margin: space(24) 0;

  @include bp-sm {
    background-color: $iceburg;
    border-radius: 17px;
    padding: space(24);
  }
}
