.card {
  /* Want to card */
  &--want-to {
    height: 100%  ;
    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: $alabaster;
      border-radius: 25px;
      margin-bottom: space(24);
      transition: all $animation-speed-fast;
      height: 100%;
      
      &:hover {
        box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
        text-decoration: none;
      }

      @include bp-sm {
        flex-direction: column;
        margin-bottom: 0;
      }
    }

    &__img-container {
      width: 78px;
      height: 78px;

      @include bp-sm {
        width: 100%;
        height: auto;
      }
    }

    &__img {
      border-radius: 25px 0 0 25px;
      width: 78px;
      height: 78px;
      object-fit: cover;

      @include bp-sm {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: auto;
      }
    }

    &__content {
      padding: space(16) space(24);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      @include bp-sm {
        padding: space(24) space(24) space(32) space(24);
      }
    }

    &__title {
      color: $san-juan;
      text-align: left;

      @include bp-sm {
        padding-bottom: space(16);
      }
    }

    &__description {
      display: none;
      text-align: left;
      margin-bottom: auto;

      @include bp-sm {
        display: block;
      }
    }
  }
  /* Who's it for */
  &--whos-it-for {
    padding: space(24);
    background: $alabaster;
    border-radius: 0;
    color: $san-juan;
    display: flex;
    align-items: center;

    @include bp-md {
      border-radius: 25px;
    }

    &__title {
      color: $san-juan;
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-basis: 40%;
    }

    &__icon {
      display: flex;
      justify-content: center;
      color: $puerto-rico;
      font-size: 36px;
    }

    &__cost {
      font-weight: $font-bold;
    }

    &__description {
      font-weight: $font-bold;
    }

    &__text {
      color: $san-juan;
    }

    &--alt {
      background-color: $iceburg;
    }
  }
  /* What people say */
  &--what-people-say {
    background-image: url(../../assets/img/svg/backgrounds/service-quote-shape-mobile.svg);
    background-position: center;
    background-size: contain;
    color: $san-juan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: space(16) space(24) space(24) space(24);

    //ie 10 fix
    p {
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 100%;
      }
    }
    @include bp-sm {
      background-image: url(../../assets/img/svg/backgrounds/service-quote-shape.svg);
      padding: space(40);
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__icon {
      font-size: 40px;

      @include bp-md {
        margin-right: space(24);
      }
    }
  }
  /* Where can i access it card */
  &--access-it {
    padding: space(32);
    background: $white;
    border-radius: 15px;
    display: flex;
    margin-bottom: space(24);

    @include bp-md {
      background: $alabaster;
      box-shadow: none;
    }

    &__intro {
      color: $san-juan;
      padding-bottom: space(24);

      @include bp-md {
        padding-bottom: 0;
      }
    }

    &__img-wrapper {
      padding-bottom: space(16);
    }

    &__title {
      padding-bottom: space(16);
    }

    &__location {
      padding-bottom: space(8);
    }

    &__hours {
      color: $san-juan;
      padding-top: space(32);

      @include bp-md {
        padding-top: 0;
        justify-content: flex-end;
      }
    }

    &__maps {
      color: $elm;

      &-link {
        padding-bottom: space(16);

        @include bp-lg {
          flex-basis: 100%;
        }
      }
    }
  }
  /* Good to know */
  &--good-to-know {
    background-color: $alabaster;
    padding: space(24);

    @include bp-md {
      padding: space(40) space(48);
      background: url(../../assets/img/svg/backgrounds/service-card-lg-shape.svg);
      background-color: unset;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      padding-bottom: space(40);
      &:last-child {
        padding-bottom: 0;
      }

      //ie 10 fix
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        div p {
          display: block;
          max-width: 800px;
          flex-shrink: 1;
        }
      }
    }

    &__icon {
      font-size: 36px;
      color: $mercury;
      padding-right: space(24);
    }

    &__title {
      font-weight: $font-bold;
      color: $san-juan;
      padding-bottom: space(8);
    }

    &__text {
      color: $san-juan;
    }
  }
  /* How can i contact this group */
  &--contact-group {
    background: $alabaster;
    border-radius: 17px;
    padding: space(48);
    color: $san-juan;

    @include bp-lg {
      background: url(../../assets/img/svg/backgrounds/service-card-lg-shape-extended.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &__title {
      padding-bottom: space(16);
    }

    &__item {
      padding-bottom: space(40);
    }

    &__icon {
      padding-right: space(8);
    }

    &__social {
      font-size: 26px;
    }

    &__social-link {
      margin-right: space(32);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  /* Who runs this service */
  &--runs-service {
    background: $alabaster;
    border-radius: 17px;
    padding: space(24);

    @include bp-lg {
      background-color: transparent;
      background: url(../../assets/img/svg/backgrounds/service-card-lg-shape.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &__img-wrapper {
      margin: 0 auto;
      padding-bottom: space(16);

      @include bp-xl {
        margin: 0;
        padding-bottom: 0;
      }
    }

    &__img {
      border-radius: 17px;
    }

    &__content {
      text-align: center;
      flex-basis: 100%;

      @include bp-xl {
        margin-left: space(32);
        text-align: left;
        flex-basis: auto;
      }
    }

    &__title {
      color: $san-juan;
      padding-bottom: space(16);
    }

    &__link {
      color: $elm;
    }
  }
  /*Make connection*/
  &--make-connection {
    background-color: $pink;
    border-radius: 17px;
    text-align: center;
    padding: space(24) 0;
    position: relative;
    margin: space(24) 0;

    @include bp-lg {
      margin: 0 0 space(24) 0;
      background-color: transparent;
      background-image: url(../../assets/img/svg/backgrounds/service-contact-group.svg);
    }

    &__icon {
      padding-right: space(8);
    }

    &__text {
      color: $san-juan;
      padding: space(16) space(16) 0 space(16);

      @include bp-md {
        padding: space(16);
      }
    }

    &:before {
      content: url(../../assets/img/svg/trees/iceberg-small.svg);
      position: absolute;
      top: -25px;
      right: 8px;
    }
  }
  /*Related services*/
  &--related-services {
    background: $alabaster;
    border-radius: 17px;
    padding: space(24);
    margin-bottom: space(24);

    @include bp-md {
      margin-bottom: 0;
    }

    &__title {
      color: $san-juan;
      padding-bottom: space(24);
    }

    &__text {
      color: $elm;
      padding-bottom: space(32);
    }
  }
}
