.card {
  /* Want to card */
  &--want-to {
    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: $alabaster;
      border-radius: 25px;
      margin-bottom: space(24);
      transition: all $animation-speed-fast;

      &:hover {
        box-shadow: 0 2px 4px 0 rgba(56,56,56,0.5);
        text-decoration: none;
      }

      @include bp-sm {
        flex-direction: column;
        margin-bottom: 0;
      }
    }

    &__img-container {
      width: 78px;
      height: 78px;


      @include bp-sm {
        width: 100%;
        height: auto;
      }
    }

    &__img {
      border-radius: 25px 0 0 25px;
      width: 78px;
      height: 78px;
      object-fit: cover;
      
      @include bp-sm {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: auto;
      }
    }

    &__content {
      padding: space(16) space(24);

      @include bp-sm {
        padding: space(24) space(24) space(32) space(24);
      }
    }

    &__title {
      color: $san-juan;
      text-align: left;

      @include bp-sm {
        padding-bottom: space(16);
      }
    }

    &__description {
      display: none;
      text-align: left;

      @include bp-sm {
        display: block;
      }
    }
  }
  /* Who's it for */
  &--whos-it-for {
    padding: space(24);
    background: $alabaster;
    border-radius: 0;

    @include bp-md {
      border-radius: 25px;
    }

    &__title {
      padding-right: space(24);
      color: $san-juan;
    }
  }
  /* What people say */
  &--what-people-say{
    background-image: url(../../assets/img/svg/backgrounds/service-quote-shape-mobile.svg);
    background-position: center;
    background-size: contain;
    color: $san-juan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: space(16) space(24) space(24) space(24);

    @include bp-sm{
      background-image: url(../../assets/img/svg/backgrounds/service-quote-shape.svg);
      padding: space(40);
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__icon{
      font-size: 40px;
      margin-right: space(24);
      padding-bottom: space(16);

      @include bp-md{
        padding-bottom: 0;
      }
    }
  }
  /* Where can i access it card */
  &--access-it{
    padding: space(32); 
    background: $alabaster;
    border-radius: 15px;

    &__intro{
      color: $san-juan; 
      margin-left: space(16);
    }

    &__title{
      padding-bottom: space(16);
    }

    &__location{
      padding-bottom: space(8);
    }

    &__hours{
      display: inline-block;
      font-size: $font-body-xs;
      padding-top: space(32);
      color: $elm;
      
      &::-webkit-details-marker {
        display: none
      }

      &:after{ 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        content: "\f078";
        margin-left: space(8);
      }

      &-wrapper{
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}
