a {
  text-decoration: none;
  transition: all $animation-speed-fast;
  font-size: inherit;
  font-family: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
    font-weight: $font-bold;
  }
}
