/*
 * Animations
 * —
 * CSS3 keyframe animations
 *
 */

/* Speed */
$animation-speed-fast: 0.2s;

/*
  * Button hover
  * -
  *
  */
@mixin button-hvr {
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(56, 56, 56, 0.5);
    text-decoration: none;
  }
}

/*
  * Button hover Alt
  * -
  *
  */
@mixin button-hvr-alt($colour, $amount) {
  &:hover {
    box-shadow: 0px 0px 0px $amount $colour inset;
    text-decoration: none;
  }
}

/*
  * Button focus
  * -
  *
  */
@mixin button-focus {
  &:focus,
  &:active {
    box-shadow: none;
    border-color: $downy;
    outline: 0;
    text-decoration: none;
  }
}

/*
  * Tree sway
  * -
  *
  */
@keyframes sway {
  0%,
  to {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
