/*
 * Animations
 * —
 * CSS3 keyframe animations
 *
 */

/* Speed */
$animation-speed-fast: 0.2s;

/*
  * Button hover
  * -
  *
  */
@mixin button-hvr {
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(56, 56, 56, 0.5);
    text-decoration: none;
  }
}

/*
  * Button hover Alt
  * -
  *
  */
@mixin button-hvr-alt($colour, $amount) {
  &:hover {
    box-shadow: none;
    border: $amount solid $colour;
    text-decoration: none;
  }
}

/*
  * Button focus
  * -
  *
  */
@mixin button-focus {
  &:focus,
  &:active {
    box-shadow: none;
    border-color: $downy;
    outline: 0;
    text-decoration: none;
  }
}
