/*
 * Colour variables 
 * —
 * Colour names to come from: http://chir.ag/projects/name-that-color/ 
 * 
 */

$black: #000;
$white: #fefefe;
$mine-shaft: #2b2b2b;
$silver-chalice: #a0a0a0;
$wild-sand: #f4f4f4;
$jagged-ice: #bfe4e2;
$cosmos: #ffd8d8;
$east-bay: #3b4976;
$tradewind: #56b6b2;
$mandy: #ea5171;
$mona-lisa: #ff9999;
$vanilla: #d7c4b5;
$gallery: #eaeaea;
