/*
 * Colour variables 
 * —
 * Colour names to come from: http://chir.ag/projects/name-that-color/ 
 * 
 */

$black: #000;
$white: #ffffff;
$lynch: #68748f;
$mercury: #e5e5e5;
$san-juan: #38486c;
$elm: #1f8275;
$puerto-rico: #46c0b0;
$iceburg: #d0efeb;
$downy: #75d0c4;
$alabaster: #f8f8f8;
$jordy-blue: #7ab1ef;
$cranberry: #be4865;
$perano: #9cc5f3;
$blush: #df8097;
$hawkes-blue: #deebfb;
$pink: #ffbfce;
