/*
 * Typography
 * —
 * Font families, font size, font weights
 * For custom fonts generate webfonts using: https://www.fontsquirrel.com/tools/webfont-generator
 *
 */

/* Font families */
$font-primary: "Museo-Sans", sans-serif;
$font-secondary: "Skippy-Sharpie";
$font-tertiary: "Museo-Sans", sans-serif;

/* Font weights */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* Font sizes */
$font-base: pxtorem(16px);

$font-heading-xl: pxtorem(36px);
$font-heading-l: pxtorem(33px);
$font-heading-m: pxtorem(22px);
$font-heading-s: pxtorem(18px);

$font-body-l: pxtorem(20px);
$font-body-m: pxtorem(18px);
$font-body-s: $font-base;
$font-body-xs: pxtorem(14px);
$font-body-alt: pxtorem(30px);

$font-button: pxtorem(22px);

/* Import custom fonts */

/* Museo-Sans */
@font-face {
  font-family: Museo-Sans;
  src: url(/assets/fonts/MuseoSans_500.ttf);
  font-weight: $font-medium;
}

@font-face {
  font-family: Museo-Sans;
  src: url(/assets/fonts/MuseoSans_500.ttf);
  font-weight: $font-bold;
}

/* Skippy Sharpie */
@font-face {
  font-family: Skippy-Sharpie;
  src: url(/assets/fonts/SkippySharpieRegular.ttf);
  font-weight: $font-regular;
}

/* Set base font across all elements */
html {
  font-family: $font-primary;
  font-weight: $font-regular;
  font-size: $font-base;
}

/* Reset margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

/* Remove underline */
a {
  text-decoration: none;
}

/* Remove italics */
address {
  font-style: normal;
}

/* Type mixins */
@mixin heading-xl {
  font-size: $font-heading-xl;
  font-family: $font-primary;
  font-weight: $font-bold;
  line-height: 1.2;
}

@mixin heading-l {
  font-size: $font-heading-l;
  font-family: $font-primary;
  font-weight: $font-bold;
  line-height: 1.17;
}

@mixin heading-m {
  font-size: $font-heading-m;
  font-family: $font-primary;
  font-weight: $font-bold;
  line-height: 1.13;
}

@mixin heading-s {
  font-size: $font-heading-s;
  font-family: $font-primary;
  font-weight: $font-bold;
  line-height: 1.22;
}

@mixin heading-s-regular {
  font-size: $font-heading-s;
  font-family: $font-primary;
  font-weight: $font-regular;
  line-height: 1.22;
}

@mixin body-l {
  font-size: $font-body-l;
  font-family: $font-primary;
  font-weight: $font-regular;
  line-height: 1.25;
}

@mixin body-m {
  font-size: $font-body-m;
  font-family: $font-primary;
  font-weight: $font-regular;
  line-height: 1.22;
}

@mixin body-s {
  font-size: $font-body-s;
  font-family: $font-primary;
  font-weight: $font-regular;
  line-height: 1.25;
}

@mixin body-xs {
  font-size: $font-body-xs;
  font-family: $font-primary;
  font-weight: $font-regular;
  line-height: 1.14;
}

@mixin body-alt {
  font-size: $font-body-alt;
  font-family: $font-secondary;
  font-weight: $font-regular;
  line-height: 1;
}

/* Type colours */

/* Text */
$text-colour: $san-juan;
$secondary-text-colour: $lynch;
$disabled-text-colour: $mercury;
$dark-bg-text-colour: $white;

/* Links */
$link-colour: $san-juan;
$light-link-colour: $elm;
$link-hover-colour: $puerto-rico;
$link-hover-colour-two: $iceburg;

/* Heading styles */
h1 {
  @include heading-xl;
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}

h5,
h6,
a,
button {
  @include body-m;
}

p {
  @include body-m;
  color: $text-colour;
}

.body {
  &--l {
    @include body-l;
  }

  &--m {
    @include body-m;
  }

  &--s {
    @include body-s;
  }

  &--xs {
    @include body-xs;
  }

  &--alt {
    @include body-alt;
  }
}
