select {
  width: 100%;
  padding: space(16);
  border: 2px solid $lynch;
  box-shadow: none;
  background: transparent;
  @include outline;
  /* Icon */
  // background-image: url('/assets/dist/img/global/select-icon.svg');
  // background-repeat: no-repeat;
  // background-position: calc(100% - 8px) 8px;
  color: $san_juan;
  appearance: none;
}

// IE Arrow hack
select::-ms-expand {
  display: none;
}
