/*
 * Footer
 * —
 *
 */
.footer {
  background-color: $san-juan;
  position: relative;
  padding: space(8) 0;
  margin-top: 0;
  color: $white;

  @include bp-sm {
    margin-top: 80px;
  }

  @include bp-md {
    padding: space(64) 0;
    margin-top: 100px;
  }

  @include bp-lg {
    // margin-top: 160px;
  }

  /* For adding trees only! */
  .container {
    &:before {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/jordy-lg.svg);
        position: absolute;
        right: 10%;
        top: -32%;
      }

      @include bp-xl {
        top: -29%;
      }

      @include bp-wide {
        top: -26%;
      }
    }
  }

  &::before {
    content: "";
    background-image: url(../../assets/img/svg/backgrounds/footer-shape-mobile.svg);
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    top: -4px;
    background-color: $iceburg;

    @include bp-sm {
      top: -96px;
    }

    @include bp-md {
      background-image: url(../../assets/img/svg/backgrounds/footer-shape.svg);
      top: -106px;
    }

    @include bp-lg {
      background-color: $white;
    }
  }

  &::after {
    content: url(../../assets/img/svg/bridge-shape-mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

    @include bp-sm {
      content: url(../../assets/img/svg/bridge-shape.svg);
      bottom: 485px;
      right: 5%;
      top: unset;
    }

    @include bp-md {
      text-align: unset;
      left: unset;
      bottom: 470px;
      right: 280px;
      transform: rotate(2deg);
    }

    @include bp-xl {
      bottom: 97%;
      right: 25%;
      transform: rotate(0deg);

      //ie size fix
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: -40px;
        right: 50px;
        left: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(2deg);
      }
    }
  }

  &__content {
    margin: space(64) 0;

    &:before {
      content: url(../../assets/img/svg/trees/pink-small.svg);
      position: absolute;
      top: -5%;
      right: 2%;

      @include bp-sm {
        top: -22%;
        right: 5%;
      }

      @include bp-lg {
        content: url(../../assets/img/svg/trees/iceberg-small.svg);
        position: absolute;
        right: 15%;
      }

      @include bp-xl {
        top: -23%;
      }

      @include bp-wide {
        top: -19%;
      }
    }

    &:after {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/pink-lg.svg);
        position: absolute;
        bottom: 545px;
        left: 10%;
        animation: sway 7s infinite;
        transform-origin: 50% 100% 0;
      }
    }
  }

  &__disclaimer {
    padding-bottom: space(24);
  }

  &__disclaimer-copy {
    padding-bottom: space(24);
  }

  &__contact,
  &__feedback {
    padding-bottom: space(24);
    font-size: $font-body-xs;
  }

  &__privacy {
    padding-bottom: space(24);
    display: block;
    font-size: $font-body-xs;

    @include bp-sm {
      padding-bottom: 0;
    }
  }
}

.social-bar {
  padding: space(24) 0;

  &__item {
    margin-right: space(16);
    font-size: $font-body-m;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
