/*
 * Footer
 * —
 *
 */
.footer {
  background-color: $san-juan;
  position: relative;
  padding: space(8) 0;
  margin-top: 200px;
  color: $white;

  @include bp-md {
    padding: space(64) 0;
  }
  /* For adding trees only! */
  .container {
    &:before {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/jordy-lg.svg);
        position: absolute;
        bottom: 485px;
        right: 10%;
        animation: sway 7s infinite;
        transform-origin: 50% 100% 0;
      }
    }
  }

  &::before {
    content: "";
    background-image: url(../../assets/img/svg/backgrounds/footer-shape-mobile.svg);
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    top: -56px;
    left: 0;

    @include bp-md {
      background-image: url(../../assets/img/svg/backgrounds/footer-shape.svg);
      top: -106px;
    }
  }

  &::after {
    content: url(../../assets/img/svg/bridge-shape.svg);
    position: absolute;
    bottom: 560px;
    right: 0;

    @include bp-sm {
      bottom: 310px;
      right: 170px;
    }

    @include bp-md {
      bottom: 480px;
      right: 100px;
    }

    @include bp-xl {
      bottom: 430px;
      right: 470px;
    }
  }

  &__content {
    margin: space(64) 0;

    &:before {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/iceberg-small.svg);
        position: absolute;
        bottom: 465px;
        right: 15%;
        animation: sway 7s infinite;
        transform-origin: 50% 100% 0;
      }
    }

    &:after {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/pink-lg.svg);
        position: absolute;
        bottom: 545px;
        left: 10%;
        animation: sway 7s infinite;
        transform-origin: 50% 100% 0;
      }
    }
  }

  &__disclaimer {
    padding-bottom: space(24);
  }

  &__disclaimer-copy {
    padding-bottom: space(24);
  }

  &__contact,
  &__feedback {
    padding-bottom: space(24);
  }

  &__privacy {
    padding-bottom: space(24);
    display: block;

    @include bp-sm {
      padding-bottom: 0;
    }
  }
}

.social-bar {
  padding: space(24) 0;

  &__link {
    margin-right: space(16);

    &:last-child {
      margin-right: 0;
    }
  }
}
