/*
 * Search
 * —
 *
 */

.header {
  background-color: $iceburg;

  @include bp-md{
    background-color: initial;
  }

  &__img {
    width: 100%;

    @include bp-xl {
      width: auto;
    }

    &-container {
      margin-top: space(16);
    }
  }
}
