/*
 * Search
 * —
 *
 */

.header {
  background-color: $iceburg;

  @include bp-lg {
    background-color: inherit;
  }

  &__img {
    width: 100%;

    @include bp-xl {
      width: auto;
    }

    &-container {
      margin-top: space(16);
    }
  }

  /* Service header */
  &--service {
    padding: space(24) space(24) space(32);
    background-color: $cranberry;
    position: relative;
    padding: space(8) 0;
    margin-top: space(64);
    color: $mercury;

    &:before {
      background: url(../..//assets/img/svg/backgrounds/service-header-shape-mobile.svg);
      content: "";
      background-size: 110%;
      background-position: top;
      background-repeat: no-repeat;
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0;
      top: -54px;
    }

    @include bp-md {
      &:before {
        background: url(../..//assets/img/svg/backgrounds/service-header-shape.svg);
      }
    }

    &__intro {
      display: flex;
      padding-bottom: space(16);

      @include bp-sm {
        padding-bottom: 0;
      }
    }

    &__img-wrapper {
      width: 50px;

      @include bp-md {
        margin-top: -60px;
        margin-bottom: -30px;
        z-index: 1;
        width: 210px;
      }
    }

    &__img {
      border-radius: 100%;
      width: 100%;

      @include bp-md {
        border: 10px solid $alabaster;
        border-radius: 17px;
      }
    }

    &__feedback {
      display: none;

      @include bp-md {
        display: inline-block;
      }
    }

    &__title {
      padding-bottom: space(16);
    }
  }

  &--active {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
  }
}
