/*
 * Navigation
 * —
 *
 */
.nav {
  &--options {
    &__item {
      margin-right: space(16);
      margin-bottom: space(8);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

[class*="nav--menu"] {
  position: relative;
  display: inline-block;
  margin-right: space(56);

  &:hover {
    text-decoration: none;
  }
  &:after {
    content: url(../../assets/img/svg/nav-hover.svg);
    position: absolute;
    top: -13px;
    right: 0;
    bottom: 0;
    left: -24px;
    width: 97px;
    height: 53px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    will-change: opacity;
    z-index: -1;
  }
}

.nav--menu__item--active {
  &:after {
    opacity: 1;
  }
}
