/*
 * Navigation
 * —
 *
 */
.nav {
  &--options {
    display: none;

    @include bp-md {
      display: inline-block;
    }

    &__item {
      margin-right: space(16);
      margin-bottom: space(8);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

[class*="nav--menu"] {
  position: relative;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
.nav--menu {
  display: none;

  @include bp-md {
    display: inline-block;
  }

  &__item {
    @include bp-md {
      margin-right: space(56);
      &:after {
        content: url(../../assets/img/svg/nav-hover.svg);
        position: absolute;
        top: -13px;
        right: 0;
        bottom: 0;
        left: -24px;
        width: 97px;
        height: 53px;
        opacity: 0;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
        will-change: opacity;
        z-index: -1;
      }

      &:last-child {
        margin-right: 0;
      }

      &--active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
