/*
 * Search
 * —
 *
 */
.search {
  background: url(../../assets/img/svg/backgrounds/home-white-shape-mobile.svg)
    no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: space(80) space(32);

  @include bp-sm {
    background: url(../../assets/img/svg/backgrounds/home-white-shape-tablet.png)
      no-repeat;
    background-size: 130% 90%;
    background-position: 50%;
    padding: space(80) space(32) space(104) space(32);
  }

  @include bp-lg {
    background: url(../../assets/img/svg/backgrounds/home-search-shape.svg)
      no-repeat;
    background-size: 110% 100%;
    background-position: 50%;
    padding: space(32) space(112);
  }

  @include bp-xl {
    background-size: 100% 100%;
    padding: space(64) space(112);
  }

  &:before {
    content: url(../../assets/img/svg/telephone-boxes-shapes.svg);
    position: absolute;
    right: 5%;
    bottom: -25px;

    @include bp-lg {
      content: url(../../assets/img/svg/trees/iceberg-small.svg);
      position: absolute;
      left: 5%;
      top: 580px;
    }
    @include bp-xl {
      top: 640px;
    }
  }

  &:after {
    content: url(../../assets/img/svg/trees/peurto-small.svg);
    position: absolute;
    left: 5%;
    bottom: -25px;

    @include bp-lg {
      content: url(../../assets/img/svg/trees/hawkes-small.svg);
      position: absolute;
      right: 10%;
      top: 580px;
    }
    @include bp-xl {
      top: 640px;
    }
  }

  &__outer {
    background-color: $iceburg;
    padding-top: space(64);

    @include bp-lg {
      padding-top: 0;
    }

    @include bp-lg {
      background-image: url(../../assets/img/svg/backgrounds/home-header-shape.svg);
      background-color: initial;
      background-position: 50%;
      background-size: 110% 140%;
      margin-top: space(32);
    }

    @include bp-xl {
      background-image: url(../../assets/img/svg/backgrounds/home-header-shape-xl.svg);
      background-color: initial;
      background-position: center;
      background-size: cover;
    }

    &:before {
      content: url(../../assets/img/svg/trees/pink-small.svg);
      position: absolute;
      right: 30%;
      top: 70px;
      z-index: 1;

      @include bp-sm{
        top: 120px;
      }

      @include bp-lg {
        content: url(../../assets/img/svg/telephone-boxes-shapes.svg);
        position: absolute;
        right: 38%;
        top: 100px;
      }

      @include bp-xl {
        right: 37%;
        top: 100px;
      }
    }

    &:after {
      content: url(../../assets/img/svg/trees/peurto-lg.svg);
      position: absolute;
      right: 15%;
      top: 70px;
      z-index: 1;

      @include bp-sm{
        top: 120px;
      }

      @include bp-lg {
        content: url(../../assets/img/svg/trees/peurto-small.svg);
        position: absolute;
        top: 100px;
        left: 33%;
      }

      @include bp-xl {
        top: 110px;
        left: 37%;
      }
    }

    &--menu {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      overflow: hidden;
      margin: 0;
    }
  }

  &__form {
    &:before {
      @include bp-lg {
        content: url(../../assets/img/svg/trees/cranberry-lg.svg);
        position: absolute;
        right: 5%;
        top: 580px;
        animation: sway 7s infinite;
        transform-origin: 50% 100% 0;
      }

      @include bp-xl {
        top: 640px;
      }
    }

    &--hide {
      display: none;
    }
  }

  &__title {
    padding: space(16) 0 space(32) 0;
    color: $san-juan;

    @include bp-lg {
      padding: space(80) 0 space(32) 0;
    }
  }

  &__button {
    margin: space(32) 0 0 0;

    @include bp-sm {
      margin: 0 0 0 space(32);
    }
  }

  &__subtitle {
    padding: space(32) 0;
    color: $san-juan;
  }

  &__categories {
    padding-bottom: space(64);

    display: none;
    @include bp-md {
      display: block;
    }
  }

  &__categories-select {
    display: block;

    @include bp-md {
      display: none;
    }
  }

  &__category {
    margin: 0 space(24) space(24) 0;

    &:last-child {
      margin: 0;
    }
  }
}
