/*
 * Header
 * —
 *
 */

.header {
  &__img {
    width: 100%;

    @include bp-md {
      width: auto;
    }

    &-container {
      margin-top: space(16);
    }
  }
}

.search {
  background: url(../../assets/img/svg/backgrounds/home-white-shape-mobile.svg)
    no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: space(80) space(32);

  @include bp-sm {
    background: url(../../assets/img/svg/backgrounds/home-white-shape-tablet.png)
      no-repeat;
    background-size: 130% 90%;
    background-position: 50%;
  }

  @include bp-lg {
    background: url(../../assets/img/svg/backgrounds/home-search-shape.svg)
      no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
    padding: space(80) space(72);
  }

  &__outer {
    background-color: $hawkes-blue;
    margin-top: space(32);

    @include bp-md {
      margin-top: 0;
    }

    @include bp-lg {
      background-image: url(../../assets/img/svg/backgrounds/home-header-shape.svg);
      background-color: initial;
      background-position: 50%;
      background-size: 110% 140%;
      margin-top: space(32);
    }

    @include bp-xl {
      background-image: url(../../assets/img/svg/backgrounds/home-header-shape-xl.svg);
      background-color: initial;
      background-position: center;
      background-size: cover;
    }

    &:before {
      @include bp-lg {
        content: url(../../assets/img/svg/telephone-boxes-shapes.svg);
        position: absolute;
        right: 38%;
        top: 140px;
      }

      @include bp-xl {
        right: 38%;
        top: 100px;
      }
    }

    &:after {
      animation: sway 7s infinite;
      transform-origin: 50% 100% 0;
      position: absolute;

      @include bp-lg {
        content: url(../../assets/img/svg/trees/hawkes-small.svg);
        top: 140px;
        left: 33%;
      }

      @include bp-xl {
        top: 110px;
        left: 40%;
      }
    }

    &--menu {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      overflow: hidden;
    }
  }

  &__form {
    &--hide {
      display: none;
    }
  }

  &__title {
    padding: space(16) 0 space(32) 0;

    @include bp-lg {
      padding: space(80) 0 space(32) 0;
    }
  }

  &__button {
    margin: space(32) 0 0 0;

    @include bp-sm {
      margin: 0 0 0 space(32);
    }
  }

  &__subtitle {
    padding: space(32) 0;
  }

  &__categories {
    padding-bottom: space(32);

    display: none;
    @include bp-md {
      display: block;
    }
  }

  &__categories-select {
    display: block;

    @include bp-md {
      display: none;
    }
  }

  &__category {
    margin: 0 space(24) space(24) 0;

    &:last-child {
      margin: 0;
    }
  }
}
