<div class="col-small-3">
  <button class="accordion">How can I contact this group?</button>
  <figure class="accordion__panel accordion__panel--tab">
      <p class="accordion__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
  </figure>
</div>
<div class="col-small-3">
  <button class="accordion accordion--white">How can I contact this group?</button>
  <figure class="accordion__panel accordion__panel--tab">
      <p class="accordion__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
  </figure>
</div>

