<nav class="breadcrumb">
  <a class="breadcrumb__item" href="#">Home</a>
  <a class="breadcrumb__item" href="#">Search</a>
  <span class="breadcrumb__item--active">
    Arts & Crafts with learning disabilities
  </span>
</nav>
<!--Code-->
<div class="container">
  <details>
    <summary>View code</summary>
    <figure class="highlight">
      <pre><code>&lt;nav class="breadcrumb"&gt;
  &lt;a class="breadcrumb__item" href="#"&gt;Home&lt;/a&gt;
  &lt;a class="breadcrumb__item" href="#"&gt;Search&lt;/a&gt;
  &lt;span class="breadcrumb__item--active"&gt;
    Arts & Crafts with learning disabilities
  &lt;/span&gt;
&lt;/nav&gt;</code></pre>
    </figure>
  </details>
</div>
<!--/Code-->
