<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Medium</h6>
  <button class="btn">Search</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;button class="btn"&gt;Search&lt;/button&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Small</h6>
  <button class="btn btn--s">View more</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;button class="btn btn--s"&gt;Search&lt;/button&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Large</h6>
  <button class="btn btn--l">Make a connection</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
    <code>&lt;button class="btn btn--l"&gt;Search&lt;/button&gt;</code>
          </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Disabled</h6>
  <button class="btn" disabled>Search</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;button class="btn" disabled&gt;Search&lt;/button&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Alt-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Alt</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Medium</h6>
  <button class="btn btn--alt btn--alt--m">Add to favourites</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;button class="btn btn--alt btn--alt--m"&gt;Search&lt;/button&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Small</h6>
  <button class="btn btn--alt btn--alt--s">Give Feedback</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;button class="btn btn--alt btn--alt--s"&gt;Search&lt;/button&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Large</h6>
  <button class="btn btn--alt btn--alt--l">Member Area</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;button class="btn btn--alt btn-alt--l"&gt;Search&lt;/button&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Disabled</h6>
  <button disabled class="btn btn--alt btn--alt--m">Add to favourites</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;button disabled class="btn btn--alt btn--alt--m"&gt;Search&lt;/button&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Category-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Category</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Medium</h6>
  <a href="#" class="btn btn--s btn--category">Mental Health</a>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;a class="btn btn--s btn--category"&gt;Mental Health&lt;/a&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Disabled</h6>
  <a href="#" class="btn btn--s btn--category btn--category--disabled"
    >Mental Health</a
  >
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;a class="btn btn--s btn--category btn--category--disabled"&gt;Mental Health&lt;/a&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Header Options Nav-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Header Options Nav</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <a href="#" class="btn btn--header">Translate</a>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;a class="btn btn--header"&gt;Translate&lt;/a&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Disabled</h6>
  <a href="#" class="btn btn--header btn--header--disabled">Translate</a>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;a class="btn btn--header btn--header--disabled"&gt;Translate&lt;/a&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Links-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Links</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <a href="#">View Images (4)</a>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;a&gt;View Images (4)&lt;/a&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Nav item-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Nav item</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <nav>
    <a href="#" class="nav__link--active">Home</a>
    <a href="#" class="nav__link">About</a>
  </nav>

  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;nav&gt;
  &lt;a href="#" class="nav__link--active"&gt;Home&lt;/a&gt;
  &lt;a href="#" class="nav__link"&gt;About&lt;/a&gt;
&lt;/nav&gt;</code>
          </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
