<div class="col-sxmall-12 col-medium-4">
  <h6 class="section__modifier">Medium</h6>
  <button>Search</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;button&gt;Search&lt;/button&gt;</code>
      </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-sxmall-12 col-medium-4">
  <h6 class="section__modifier">Small</h6>
  <button class="button--s">View more</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;button class="button--s"&gt;Search&lt;/button&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<div class="col-sxmall-12 col-medium-4">
  <h6 class="section__modifier">Large</h6>
  <button class="button--l">Make a connection</button>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
    <code>&lt;button class="button--s"&gt;Search&lt;/button&gt;</code>
          </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
