<div class="col-small-12">
  <h5 class="section__subtitle">Want to</h5>
</div>
<div class="col-small-4 col-medium-4 col-large-3">
  <article class="card--want-to">
    <div class="card--want-to__img-container">
      <img src="https://via.placeholder.com/309x190" class="card--want-to__img" />
    </div>
    <div class="card--want-to__content">
      <h3 class="card--want-to__title">Avoiding a house crisis</h3>
      <p class="card--want-to__description">
        Many things can lead to a housing crisis, from relationship breakdown to
        job loss.
      </p>
    </div>
  </article>
</div>
<!--Code-->
<div class="col-small-12">
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre><code>&lt;article class="card--want-to"&gt;
  &lt;div&gt;
    &lt;https://via.placeholder.com/309x190" class="card--want-to__img" /&gt;
  &lt;/div&gt;
  &lt;div class="card--want-to__content"&gt;
    &lt;h3 class="card--want-to__title"&gt;Avoiding a house crisis&lt;/h3&gt;
    &lt;p class="card--want-to__description"&gt;
      Many things can lead to a housing crisis, from relationship breakdown to
      job loss.
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/article&gt;</code></pre>
      </figure>
    </details>
  </div>
</div>
<!--/Code-->
<!--Whos it for-->
<div class="col-small-12">
  <h5 class="section__subtitle">Whos it for</h5>
</div>
<div class="col-small-4 col-medium-4 col-large-3">
  <article class="card--whos-it-for row -xsmall-middle">
    <div class="card--whos-it-for__title">
      <i></i>
      <p class="body--s">Age group</p>
    </div>
    <h4>Avoiding a house crisis</h4>
  </article>
</div>
<!--Code-->
<div class="col-small-12">
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre><code>&lt;article class="card--whos-it-for row -xsmall-middle"&gt;
  &lt;div class="card--whos-it-for__title"&gt;
    &lt;i&gt;&lt;/i&gt;
    &lt;p class="body--s"&gt;Age group&lt;/p&gt;
  &lt;/div&gt;
  &lt;h4&gt;Avoiding a house crisis&lt;/h4&gt;
&lt;/article&gt;</code></pre>
      </figure>
    </details>
  </div>
</div>
<!--/Code-->
<div class="col-small-12">
  <h5 class="section__subtitle">What people say</h5>
</div>
<div class="col-xsmall-12 col-small-8 col-large-6">
  <article class="card--what-people-say">
    <i class="card--what-people-say__icon fas fa-comment"></i>
    <p class="body--alt">
      “ I’ve brought my child here for a couple of weeks and it’s a great place
      to have fun and meet new people with simliar situations to us. ”
    </p>
  </article>
</div>
<div class="col-small-12">
  <h5 class="section__subtitle">Where can i access it</h5>
</div>
<div class="col-xsmall-12 col-small-6">
  <article class="card--access-it row">
    <div class="col-xsmall-12 col-small-6 -no-gutters">
      <div class="row -no-gutters">
        <div class="card--access-it__img-wrapper col-xsmall-6 -xsmall-last -no-gutters -medium-order-none">
          <img src="https://via.placeholder.com/115x98" alt="Access it">
        </div>
        <div class="card--access-it__intro col-xsmall-6 -no-gutters"">
          <h4 class="card--access-it__title">New Malden Library</h4>
          <p class="card--access-it__location body--s">Kingston Rd, KT3 3LY</p>
          <div>
            <img src="https://via.placeholder.com/27x27" alt="img">
            <img src="https://via.placeholder.com/27x27" alt="img">
          </div>
        </div>
      </div>
     <div class="card--access-it__maps row -no-gutters">
       <a class="card--access-it__maps-link" href="/">View on Google Maps <i class="fas fa-map"></i></a>
       <a href="/">Get directions on Google Maps <i class="fas fa-map-signs"></i></a>
     </div>
   </div>
   <div class="col-xsmall-12 col-small-6 card--access-it__hours -no-gutters"> 
    <p class="card--access-it__title"><i class="far fa-clock"></i> Opening hours</p>
    <p class="body--s">Monday to friday <strong>9am to 9:30pm</strong></p>
    <details class="accordion--time">
      <summary class="accordion--time__content">Bank holidays times</summary>
      <div></div>
    </details>
   </div>
  </article>
</div>
