<div class="content-block">
    <p>
      Use different art and craft techniques, including collage,
      painting, glass and ceramic painting, card making for all
      occasions, papier-mache, fabric painting, Christmas decorations,
      modelling and more.
    </p>
    <h3>What we offer?</h3>
    <ul>
      <li>Collage</li>
      <li>Painting</li>
      <li>Glass and ceramic painting</li>
      <li>Card making</li>
      <li>Papier-mache</li>
      <li>Fabric painting</li>
      <li>Christamas decorations</li>
      <li>Modelling</li>
    </ul>
  </div>