<div class="content-block">
  <p class="body--l">
    Use different art and craft techniques, including collage, painting, glass
    and ceramic painting, card making for all occasions, papier-mache, fabric
    painting, Christmas decorations, modelling and more.
  </p>
  <h3>What we offer?</h3>
  <ul>
    <li>Collage</li>
    <li>Painting</li>
    <li>Glass and ceramic painting</li>
    <li>Card making</li>
    <li>Papier-mache</li>
    <li>Fabric painting</li>
    <li>Christamas decorations</li>
    <li>Modelling</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis labore
    repellat accusamus dolore distinctio vel rem, perspiciatis voluptatum!
    Provident, cum velit eum magnam modi laborum qui aliquid eveniet ipsam
    incidunt.
  </p>
  <h4>Heading</h4>
  <p>
    <i>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ab
      nisi, ullam voluptatibus quidem vitae, quisquam minus numquam aspernatur
      harum veritatis. Repudiandae porro obcaecati rem doloremque nam provident
      ad sint nulla sequi maiores possimus soluta ipsam, blanditiis fugiat hic
      quia adipisci. Praesentium repudiandae itaque mollitia id quas sapiente
      quidem molestiae.
    </i>
  </p>
  <div class="indent">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit<br />
      amet consectetur adipisicing elit.
    </p>
  </div>
  <a href="/">This is a link</a>
</div>
