<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__content row">
      <div class="col-xsmall-12 col-medium-5">
        <h4 class="footer__disclaimer">Disclaimer</h4>
        <p class="body--xs footer__disclaimer-copy">
          Connected Kingston makes every effort to provide up-to-date and
          accurate information on this website. The listing of a service with an
          online referral option in no way should be viewed as an endorsement or
          recommendation by Connected Kingston (please see section 3 of
          Connected Kingston
          <a href="/terms-and-conditions">Terms and Conditions</a> for full
          details).
        </p>
        <a class="footer__privacy" href="/privacy-policy">Privacy Policy</a>
      </div>
      <div class="col-xsmall-12 col-small-6 col-medium-3 col-medium-offset-1">
        <div class="row -xsmall-no-gutters">
          <div class="col-xsmall-12 -xsmall-no-gutters">
            <h4>
              Get in touch with <br />
              Connected Kingston
            </h4>
          </div>
          <div class="col-xsmall-12 -xsmall-no-gutters">
            <nav
              class="social-bar"
              name="social-nav"
              role="menubar"
              aria-label="Social Media Links"
            >
              <a
                class="social-bar__link"
                href="https://facebook.com/ConnectedKingston"
                target="_blank"
                role="menuitem"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="social-bar__link"
                href="https://twitter.com/ConnectedKings"
                target="_blank"
                role="menuitem"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="social-bar__link"
                href="https://instagram.com/ConnectedKings"
                target="_blank"
                role="menuitem"
                ><i class="fab fa-instagram"></i
              ></a>
            </nav>
          </div>
          <div class="col-xsmall-12 footer__contact -xsmall-no-gutters">
            <a href="/contact-us">Contact us</a>
          </div>
          <div class="col-xsmall-12 footer__feedback -xsmall-no-gutters">
            <a href="/contact-us">Give feedback</a>
          </div>
        </div>
      </div>
      <div class="col-xsmall-12 col-small-6 col-medium-3">
        <button class="btn btn--alt btn--alt--l">Member area</button>
      </div>
    </div>
  </div>
</footer>
