<div class="col-xsmall-12">
  <h4 class="section__subtitle">Input</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <input
    type="search"
    placeholder="Search for services, groups and activities"
  />
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;input
  type="search"
  placeholder="Search for services, groups and activities"
/&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Drop down / select-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Select</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
  <code>&lt;input
    type="search"
    placeholder="Search for services, groups and activities"
  /&gt;</code>
          </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
