<div class="col-xsmall-12">
  <h4 class="section__subtitle">Input</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <input
    type="search"
    placeholder="Search for services, groups and activities"
  />
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;input
  type="search"
  placeholder="Search for services, groups and activities"
/&gt;</code>
        </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
<!--Drop down / select-->
<div class="col-xsmall-12">
  <h4 class="section__subtitle">Select</h4>
</div>
<div class="col-xsmall-12 col-medium-6">
  <h6 class="section__modifier">Normal</h6>
  <div class="select__wrapper">
    <select aria-label="Categories">
      <option value="Mental Health">Mental Health</option>
      <option value="Learning disability">Learning disability</option>
      <option value="Living at home">Living at home</option>
      <option value="hings to do">Things to do</option>
      <option value="Health matters">Health matters</option>
    </select>
  </div>
  <!--Code-->
  <div class="container">
    <details>
      <summary>View code</summary>
      <figure class="highlight">
        <pre>
<code>&lt;div class="select__wrapper"&gt;
  &lt;select aria-label="Categories"&gt;
    &lt;option value="Mental Health"&gt;Mental Health&lt;/option&gt;
    &lt;option value="Learning disability"&gt;Learning disability&lt;/option&gt;
    &lt;option value="Living at home"&gt;Living at home&lt;/option&gt;
    &lt;option value="hings to do"&gt;Things to do&lt;/option&gt;
    &lt;option value="Health matters"&gt;Health matters&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;</code>
          </pre>
      </figure>
    </details>
  </div>
  <!--/Code-->
</div>
