<article class="card--good-to-know">
  <div class="card--good-to-know__item">
    <i class="card--good-to-know__icon fas fa-map-signs"></i>
    <div>
      <h4 class="card--good-to-know__title">Getting here</h4>
      <p class="body--s card--good-to-know__text">
        The nearest bus stops to the King Charles Centre are on routes 281, 406,
        418. The nearest train stations are Surbiton and Tolworth
      </p>
    </div>
  </div>
  <div class="card--good-to-know__item">
    <i class="card--good-to-know__icon fas fa-map-signs"></i>
    <div>
      <h4 class="card--good-to-know__title">Getting here</h4>
      <p class="body--s card--good-to-know__text">
        The nearest bus stops to the King Charles Centre are on routes 281, 406,
        418. The nearest train stations are Surbiton and Tolworth
      </p>
    </div>
  </div>
  <div class="card--good-to-know__item">
    <i class="card--good-to-know__icon fas fa-map-signs"></i>
    <div>
      <h4 class="card--good-to-know__title">Getting here</h4>
      <p class="body--s card--good-to-know__text">
        The nearest bus stops to the King Charles Centre are on routes 281, 406,
        418. The nearest train stations are Surbiton and Tolworth
      </p>
    </div>
  </div>
</article>
