<button class="accordion accordion--white">Good to know</button>
<figure class="accordion__panel accordion__panel--tab">
  <div class="accordion__content">
    <article class="card--good-to-know">
      <div class="card--good-to-know__item">
        <i aria-hidden="true" class="card--good-to-know__icon fas fa-map-signs"></i>
        <div>
          <h4 class="card--good-to-know__title">Getting here</h4>
          <p class="body--s card--good-to-know__text">
            The nearest bus stops to the King Charles Centre are on routes 281,
            406, 418. The nearest train stations are Surbiton and Tolworth
          </p>
        </div>
      </div>
      <div class="card--good-to-know__item">
        <i aria-hidden="true" class="card--good-to-know__icon fas fa-car"></i>
        <div>
          <h4 class="card--good-to-know__title">Getting here</h4>
          <p class="body--s card--good-to-know__text">
            There are 4 disabled parking spaces in the car park next to us -
            this is free after 6
          </p>
        </div>
      </div>
      <div class="card--good-to-know__item">
        <i aria-hidden="true" class="card--good-to-know__icon fas fa-pen-alt"></i>
        <div>
          <h4 class="card--good-to-know__title">Getting here</h4>
          <p class="body--s card--good-to-know__text">
            We supply all the equipment so don’t worry about bringing anything
            but yourself.
          </p>
        </div>
      </div>
    </article>
  </div>
</figure>
