<section class="search__outer">
  <div class="container">
    <div class="row">
      <div class="col-small-12 -no-gutters">
        <form class="search -no-gutters row -xsmall-middle">
          <h2 class="search__title col-xsmall-12">I'm looking for</h2>
          <div class="col-small-9 col-medium-5 -no-gutters">
            <input
              type="search"
              placeholder="Search for services, groups and activities"
            />
          </div>
          <div class="col-small-3 -no-gutters -xsmall-last -small-order-none">
            <button class="search__button">Search</button>
          </div>
          <h2 class="search__subtitle col-xsmall-12">Or browse by category</h2>
          <select class="search__categories-select">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <div class="search__categories">
            <div class="row -xsmall-space-between">
              <div class="col-xsmall">
                <a class="search__category btn btn--s btn--category"
                  >Mental Health</a
                >
                <a class="search__category btn btn--s btn--category"
                  >Learning disability</a
                >
                <a class="search__category btn btn--s btn--category"
                  >Living at home</a
                >
                <a class="search__category btn btn--s btn--category"
                  >Things to do</a
                >
                <a class="search__category btn btn--s btn--category"
                  >Health matters</a
                >
              </div>
            </div>
            <div class="row -xsmall-space-between">
              <div class="col-xsmall">
                <a class="search__category  btn btn--s btn--category"
                  >Getting around</a
                >
                <a class="search__category  btn btn--s btn--category"
                  >Housing and Accommodation</a
                >
                <a class="search__category  btn btn--s btn--category"
                  >Money matters</a
                >
              </div>
            </div>
            <div class="row -xsmall-space-between">
              <div class="col-xsmall">
                <a class="search__category  btn btn--s btn--category"
                  >Work, Education & Volunteering</a
                >
                <a class="search__category  btn btn--s btn--category"
                  >Advice and Guidance Services</a
                >
                <a class="search__category  btn btn--s btn--category"
                  >Are you looking after someone?</a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
