<button class="accordion">How can i contact this group?</button>
<figure class="accordion__panel accordion__panel--tab">
  <div class="accordion__content">
    <article class="card--make-connection">
      <button class="btn btn--l">
        Make connection <i class="btn__icon fas fa-arrow-right"></i>
      </button>
      <p class="card--make-connection__text">
        <i class="fas fa-info-circle"></i> It can take
        <strong>up to 2 weeks</strong> to recieve a reply
      </p>
    </article>
    <article class="card--contact-group">
      <div class="card--contact-group__item">
        <h4 class="card--contact-group__title">
          <i class="fas fa-globe"></i> Website
        </h4>
        <a href="kingston.gov.uk/kingstonadulteducation…"
          >kingston.gov.uk/kingstonadulteducation…</a
        >
      </div>
      <div class="card--contact-group__item">
        <h4 class="card--contact-group__title">
          <i class="fas fa-phone"></i> Telephone
        </h4>
        <a href="tel:02085476700">020 8547 6700</a>
      </div>
      <div class="card--contact-group__item">
        <h4 class="card--contact-group__title">
          <i class="fas fa-envelope"></i> Email
        </h4>
        <a href="mailto:adult.eductation@kingston.gov.uk"
          >adult.eductation@kingston.gov.uk</a
        >
      </div>
      <div class="card--contact-group__social row -xsmall-center">
        <a class="card--contact-group__social-link" href="/"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="card--contact-group__social-link" href="/"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="card--contact-group__social-link" href="/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="card--contact-group__social-link" href="/"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </article>
  </div>
</figure>
