<div class="image-viewer">
  <div class="image-viewer__wrapper row -no-gutters">
    <div class="col-small-4 -no-gutters">
      <img
        class="image-viewer__img"
        src="https://via.placeholder.com/255x180"
        alt="img"
      />
    </div>
    <div class="col-small-4 -no-gutters">
      <img
        class="image-viewer__img"
        src="https://via.placeholder.com/255x180"
        alt="img"
      />
    </div>
    <div class="col-small-4 -no-gutters">
      <img
        class="image-viewer__img"
        src="https://via.placeholder.com/255x180"
        alt="img"
      />
    </div>
  </div>
  <a class="image-viewer__text"
    ><i class="image-viewer__icon fas fa-camera"></i> View images (4)</a
  >
</div>
