<div class="indent">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit<br />
    amet consectetur adipisicing elit.
  </p>
</div>
<!--Code-->
<div class="container">
  <details>
    <summary>View code</summary>
    <figure class="highlight">
      <pre><code>&lt;div class="indent"&gt;
  &lt;p&gt;
    Lorem ipsum dolor sit amet consectetur adipisicing elit&lt;br /&gt;
    amet consectetur adipisicing elit.
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
    </figure>
  </details>
</div>
<!--/Code-->
