<div class="container">
  <div class="row">
    <div class=" col-small-12">
      <h5 class="section__subtitle">Options Nav</h5>
      <nav class="nav--options">
        <a class="nav--options__item btn btn--header">Translate</a
        ><a class="nav--options__item btn btn--header">Give feedback</a
        ><a class="nav--options__item btn btn--header">View favourites</a>
      </nav>
    </div>
    <div class=" col-small-12">
      <h5 class="section__subtitle">Menu Nav</h5>
      <nav class="nav--menu">
        <a class="nav--menu__item nav--menu__item--active">Translate</a
        ><a class="nav--menu__item nav--menu__item">About us</a
        ><a class="nav--menu__item nav--menu__item">Contact us</a>
        <a class="nav--menu__item nav--menu__item">Get inolved</a>
      </nav>
    </div>
  </div>
</div>
