<div class="container">
  <div class="row">
    <div class=" col-small-12">
      <h5 class="section__subtitle">Options Nav</h5>
      <nav class="nav--options">
        <a class="nav--options__item btn btn--header">Translate</a
        ><a class="nav--options__item btn btn--header">Give feedback</a
        ><a class="nav--options__item btn btn--header">View favourites</a>
      </nav>
    </div>
    <div class=" col-small-12">
      <h5 class="section__subtitle">Menu Nav</h5>
      <nav class="nav--menu">
        <a href="/" class="nav--menu__item nav--menu__item--active">Home</a
        ><a href="/about-us" class="nav--menu__item nav--menu__item">About us</a
        ><a href="/contact-us" class="nav--menu__item nav--menu__item"
          >Contact us</a
        >
        <a href="/get-involved" class="nav--menu__item nav--menu__item"
          >Get involved</a
        >
      </nav>
    </div>
  </div>
</div>
