<section class="service__related">
  <div class="container">
    <div class="row">
      <div class="service__related__intro col-small-12">
        <h1>Related services</h1>
        <p class="body--l">Similar services for you to explore...</p>
      </div>
      <div class="col-small-4">
        <article class="card--related-services">
          <h3 class="card--related-services__title">Arts & craft</h3>
          <p class="card--related-services__text body--xs">
            Somewhere to relax, craft and chat. A safe place for all to come and
            learn.
          </p>
          <footer class="row -no-gutters -xsmall-space-between">
            <button class="btn btn--s">
              View more <i class="btn__icon fas fa-chevron-right"></i>
            </button>
            <img src="https://via.placeholder.com/55" alt="Logo" />
          </footer>
        </article>
      </div>
      <div class="col-small-4">
        <article class="card--related-services">
          <h3 class="card--related-services__title">Arts & craft</h3>
          <p class="card--related-services__text body--xs">
            Somewhere to relax, craft and chat. A safe place for all to come and
            learn.
          </p>
          <footer class="row -no-gutters -xsmall-space-between">
            <button class="btn btn--s">
              View more <i class="btn__icon fas fa-chevron-right"></i>
            </button>
            <img src="https://via.placeholder.com/55" alt="Logo" />
          </footer>
        </article>
      </div>
      <div class="col-small-4">
        <article class="card--related-services">
          <h3 class="card--related-services__title">Arts & craft</h3>
          <p class="card--related-services__text body--xs">
            Somewhere to relax, craft and chat. A safe place for all to come and
            learn.
          </p>
          <footer class="row -no-gutters -xsmall-space-between">
            <button class="btn btn--s">
              View more <i class="btn__icon fas fa-chevron-right"></i>
            </button>
            <img src="https://via.placeholder.com/55" alt="Logo" />
          </footer>
        </article>
      </div>
      <div class="col-small-12 service__related__btn">
        <button class="btn btn--alt btn--alt--m">
          View more related services
        </button>
      </div>
    </div>
  </div>
</section>
