<section id="jsSearchOuter" class="search__outer">
  <div class="container">
    <div class="row">
      <div class="col-small-12 -xsmall-no-gutters">
        <div class="search">
          <!--Search form-->
          <form
            id="jsSearch"
            class="search__form -xsmall-no-gutters row -xsmall-middle"
          >
            <h2 class="search__title col-xsmall-12">I'm looking for</h2>
            <div class="col-small-9 col-medium-5 -xsmall-no-gutters">
              <input
                aria-label="Search"
                type="search"
                placeholder="Search for services, groups and activities"
              />
            </div>
            <div class="col-small-3 -xsmall-no-gutters -xsmall-last -small-order-none">
              <button class="btn search__button">
                Search <i class="btn__icon fas fa-search"></i>
              </button>
            </div>
            <h2 class="search__subtitle col-xsmall-12">
              Or browse by category
            </h2>
            <div class="search__categories-select select__wrapper">
              <select aria-label="Categories">
                <option value="Mental Health">Mental Health</option>
                <option value="Learning disability">Learning disability</option>
                <option value="Living at home">Living at home</option>
                <option value="hings to do">Things to do</option>
                <option value="Health matters">Health matters</option>
              </select>
            </div>
            <div class="search__categories">
              <div class="row -xsmall-space-between">
                <div class="col-xsmall">
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Mental Health</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Learning disability</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Living at home</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Things to do</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Health matters</a
                  >
                </div>
              </div>
              <div class="row -xsmall-space-between">
                <div class="col-xsmall">
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Getting around</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Housing and Accommodation</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Money matters</a
                  >
                </div>
              </div>
              <div class="row -xsmall-space-between">
                <div class="col-xsmall">
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Work, Education & Volunteering</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Advice and Guidance Services</a
                  >
                  <a class="search__category btn btn--s btn--category" href="/"
                    >Are you looking after someone?</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
