<header class="header--service">
  <div class="header--service__content container">
    <div class="header--service__intro row -small-space-around">
      <div class="col-xsmall-10 col-small-9">
        <h1 class="col-xsmall-12 -xsmall-no-gutters header--service__title">
          Arts &amp; crafts for learners with learning disbilities
        </h1>
        <div class="row -xsmall-middle">
          <p class="body--s col-xsmall-12 col-medium-5">
            Page last updated <strong>11th May 2018</strong>
          </p>
          <button class="btn btn--alt btn--alt--s header--service__feedback">
            Give Feedback <i class="btn__icon fas fa-comment"></i>
          </button>
        </div>
      </div>
      <div class="col-xsmall-2 col-small-3 header--service__img-wrapper">
        <img
          class="header--service__img"
          src="https://via.placeholder.com/211x180"
          alt=""
        />
      </div>
    </div>
  </div>
</header>
