<section id="typography">
  <div class="container">
    <div class="row">
      <div class=" col-small-12">
        <h2 class="title">Typography</h2>
      </div>
    </div>
    <div class="row">
      <!--Headings-->
      <div class="col-small-12">
        <h3 class="section__title">Headings</h3>
        <h5 class="section__subtitle">XL heading</h5>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h1&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h1&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">L heading</h5>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h2&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h2&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">M heading</h5>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h3&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h3&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">S heading</h5>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h4&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h4&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
    <div class="row">
      <!--Body-->
      <div class=" col-small-12">
        <h3 class="section__title">Body</h3>
        <h5 class="section__subtitle">Medium body</h5>
        <h6 class="section__modifier">Light</h6>
        <p class="body--light--m">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--light--m"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h6 class="section__modifier">Regular</h6>
        <p class="body--m">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--m"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Small body</h5>
        <h6 class="section__modifier">Light</h6>
        <p class="body--light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--light"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h6 class="section__modifier">Regular</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Alt body</h5>
        <p class="body--alt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--alt"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Section title</h5>
        <p class="body--section">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--section"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Caption</h5>
        <p class="body--caption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--caption"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
    <!--Lists-->
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">Lists</h3>
        <ul>
          <li>
            List
          </li>
          <li>
            List
          </li>
          <li>
            List
          </li>
          <li>
            List
          </li>
          <li>
            List
          </li>
        </ul>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;ul&gt;
  &lt;li&gt;
    List
  &lt;/li&gt;
  &lt;li&gt;
    List
  &lt;/li&gt;
  &lt;li&gt;
    List
  &lt;/li&gt;
  &lt;li&gt;
    List
  &lt;/li&gt;
  &lt;li&gt;
    List
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
    <div class="row">
      <div class="col-xsmall-12">
        <h3 class="section__title">Code Snippets</h3>
        <div class="row">
          <div class=" col-xsmall-12">
            <h5 class="section__subtitle">Code Medium</h5>
            <pre><code class="code--m">block__element</code></pre>
            <!--Code-->
            <details>
              <summary>View code</summary>
              <figure class="highlight">
                <pre><code>&lt;pre&gt;&lt;code class="code--m"&gt;block__element&lt;/code&gt;&lt;/pre&gt;</code></pre>
              </figure>
            </details>
            <!--/Code-->
          </div>
        </div>
        <div class="row">
          <div class="col-xsmall-12">
            <h5 class="section__subtitle">Code Small</h5>
            <pre><code>console.log('Ayup');</code></pre>
            <!--Code-->
            <details>
              <summary>View code</summary>
              <figure class="highlight">
                <pre><code>&lt;pre&gt;&lt;code&gt;console.log('Ayup');&lt;/code&gt;&lt;/pre&gt;</code></pre>
              </figure>
            </details>
            <!--/Code-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
