<button class="accordion accordion--white">What people say?</button>
<figure class="accordion__panel accordion__panel--tab">
  <div class="accordion__content">
    <article class="card--what-people-say">
      <i aria-hidden="true" class="card--what-people-say__icon fas fa-comment"></i>
      <p class="body--alt">
        “I’ve brought my child here for a couple of weeks and it’s a great place
        to have fun and meet new people with simliar situations to us.”
      </p>
    </article>
  </div>
</figure>
 