<button class="accordion">Where can i access it?</button>
<figure class="accordion__panel accordion__panel--tab">
  <div class="accordion__content">
    <article class="card--access-it row -xsmall-no-gutters">
      <div class="col-xsmall-12 col-small-6 -xsmall-no-gutters">
        <div class="row -xsmall-no-gutters">
          <div
            class="card--access-it__img-wrapper col-xsmall-6 col-medium-5 -xsmall-last -xsmall-no-gutters -medium-order-none"
          >
            <img src="https://via.placeholder.com/115x98" alt="Access it" />
          </div>
          <div
            class="card--access-it__intro col-xsmall-6 col-medium-7 -xsmall-no-gutters"
          >
            <h4 class="card--access-it__title">
              New Malden Library
            </h4>
            <p class="card--access-it__location body--s">
              Kingston Rd, KT3 3LY
            </p>
            <div>
              <img src="https://via.placeholder.com/27x27" alt="img" />
              <img src="https://via.placeholder.com/27x27" alt="img" />
            </div>
          </div>
        </div>
        <div class="card--access-it__maps row -xsmall-no-gutters">
          <a class="card--access-it__maps-link" href="/">
            View on Google Maps <i class="btn__icon--s fas fa-map"></i>
          </a>
          <a href="/">
            Get directions on Google Maps
            <i class="btn__icon--s fas fa-map-signs"></i>
          </a>
        </div>
      </div>
      <div
        class="col-xsmall-12 col-small-5 col-small-offset-1 card--access-it__hours -xsmall-no-gutters"
      >
        <p class="card--access-it__title">
          <i class="far fa-clock"></i> Opening hours
        </p>
        <p class="body--s">Monday to friday <strong>9am to 9:30pm</strong></p>
        <details class="accordion--time">
          <summary class="accordion--time__content"
            >Bank holidays times</summary
          >
        </details>
      </div>
    </article>
    <!--Second location-->
    <article class="card--access-it row -xsmall-no-gutters">
      <div class="col-xsmall-12 col-small-6 -xsmall-no-gutters">
        <div class="row -xsmall-no-gutters">
          <div
            class="card--access-it__img-wrapper col-xsmall-6 col-medium-5 -xsmall-last -xsmall-no-gutters -medium-order-none"
          >
            <img src="https://via.placeholder.com/115x98" alt="Access it" />
          </div>
          <div
            class="card--access-it__intro col-xsmall-6 col-medium-7 -xsmall-no-gutters"
          >
            <h4 class="card--access-it__title">
              New Malden Library
            </h4>
            <p class="card--access-it__location body--s">
              Kingston Rd, KT3 3LY
            </p>
            <div>
              <img src="https://via.placeholder.com/27x27" alt="img" />
              <img src="https://via.placeholder.com/27x27" alt="img" />
            </div>
          </div>
        </div>
        <div class="card--access-it__maps row -xsmall-no-gutters">
          <a class="card--access-it__maps-link" href="/">
            View on Google Maps <i class="btn__icon--s fas fa-map"></i>
          </a>
          <a href="/">
            Get directions on Google Maps
            <i class="btn__icon--s fas fa-map-signs"></i>
          </a>
        </div>
      </div>
      <div
        class="col-xsmall-12 col-small-5 col-small-offset-1 card--access-it__hours -xsmall-no-gutters"
      >
        <p class="card--access-it__title">
          <i class="far fa-clock"></i> Opening hours
        </p>
        <p class="body--s">Monday to friday <strong>9am to 9:30pm</strong></p>
        <details class="accordion--time">
          <summary class="accordion--time__content"
            >Bank holidays times</summary
          >
        </details>
      </div>
    </article>
  </div>
</figure>
