<button class="accordion accordion--white">Who runs this service?</button>
<figure class="accordion__panel accordion__panel--tab">
  <div class="accordion__content">
    <article class="card--runs-service row -xsmall-middle -xsmall-no-gutters">
      <div class="card--runs-service__img-wrapper">
        <img
          class="card--runs-service__img"
          src="https://via.placeholder.com/102x92"
          alt=""
        />
      </div>
      <div class="card--runs-service__content">
        <h4 class="card--runs-service__title">King adult education</h4>
        <a class="card--runs-service__link" href="/"
          >View all services from org <i class="btn__icon--s fas fa-arrow-right"></i
        ></a>
      </div>
    </article>
  </div>
</figure>
