<div class="row -xsmall-space-between">
  <div class="col-small-12 col-medium-4">
    <article class="card--whos-it-for row -xsmall-no-gutters">
      <div class="card--whos-it-for__title col-xsmall-4">
        <i class="card--whos-it-for__icon fas fa-birthday-cake"></i>
        <p class="body--s">Age group</p>
      </div>
      <p class="col-xsmall-8">Avoiding a house crisis</p>
    </article>
  </div>
  <div class="col-small-12 col-medium-4">
    <article class="card--whos-it-for row -xsmall-no-gutters">
      <div class="card--whos-it-for__title col-xsmall-4">
        <i class="card--whos-it-for__icon fab fa-accessible-icon"></i>
        <p class="body--s">Disability</p>
      </div>
      <p class="col-xsmall-8">
        Mental Health Service Users and anyone else looking for support
      </p>
    </article>
  </div>
  <div class="col-small-12 col-medium-4">
    <article class="card--whos-it-for card--whos-it-for--alt row -xsmall-no-gutters">
      <div class="card--whos-it-for__title col-xsmall-4">
        <i class="card--whos-it-for__icon fas fa-pound-sign"></i>
        <p class="body--s">Cost</p>
      </div>
      <div class="col-xsmall-8">
        <p class="card--whos-it-for__cost">Free</p>
        <p>This group costs now money</p>
      </div>
    </article>
  </div>
</div>
