<section id="colours">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Colours</h2>
      </div>
    </div>
    <!--Colours-->
    <div class="row">
      <div class="col-xsmall-12">
        <div class="colour-block colour-block--text-colour">
          <h4>Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--secondary-text-colour">
          <h4>Secondary Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--disabled-text-colour">
          <h4>Disabled Text colour</h4>
        </div>
        <div class="colour-block colour-block--dark-bg-text-colour">
          <h4>Dark BG Text colour</h4>
        </div>
        <h3 class="section__title">Buttons / Links</h3>
        <div class="colour-block colour-block--link-colour">
          <h4>Link Colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--light-link-colour">
          <h4>Light Link Colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--link-hover-colour">
          <h4>Link Hover Colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--link-hover-colour-two">
          <h4>Link Hover Colour Two</h4>
        </div>
        <h3 class="section__title">Extended colours</h3>
        <div class="colour-block colour-block--colour-one">
          <h4>Colour one</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-two">
          <h4>Colour two</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-three">
          <h4>Colour three</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-four">
          <h4>Colour four</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-five">
          <h4>Colour five</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-six">
          <h4>Colour six</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-seven">
          <h4>Colour seven</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-eight">
          <h4>Colour eight</h4>
        </div>
        <br />
      </div>
    </div>
  </div>
</section>
