<section id="colours">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Colours</h2>
      </div>
    </div>
    <!--Colours-->
    <div class="row">
      <div class="col-xsmall-12">
        <div class="colour-block colour-block--text-colour">
          <h4>Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--secondary-text-colour">
          <h4>Secondary Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--light-text-colour">
          <h4>Light Text colour</h4>
        </div>
        <h3 class="section__title">Links</h3>
        <div class="colour-block colour-block--link-one-colour">
          <h4>Link one</h4>
        </div>
        <br />
        <div class="colour-block colour-block--link-two-colour">
          <h4>Link two</h4>
        </div>
        <br />
        <div class="colour-block colour-block--link-three-colour">
          <h4>Link three</h4>
        </div>
        <br />
        <div class="colour-block colour-block--link-four-colour">
          <h4>Link four</h4>
        </div>
        <h3 class="section__title">Buttons</h3>
        <div class="colour-block colour-block--text-colour">
          <h4>Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--light-text-colour">
          <h4>Light Text colour</h4>
        </div>
        <br />
        <div class="colour-block colour-block--button-text-colour">
          <h4>Button Text colour</h4>
        </div>
        <h3 class="section__title">Extended colours</h3>
        <div class="colour-block colour-block--colour-one">
          <h4>Colour one</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-two">
          <h4>Colour two</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-three">
          <h4>Colour three</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-four">
          <h4>Colour four</h4>
        </div>
        <br />
        <div class="colour-block colour-block--colour-five">
          <h4>Colour five</h4>
        </div>
      </div>
    </div>
  </div>
</section>