<section id="components">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Components</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Service Accordians
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="accordian.html"></include>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Breadcrumbs
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-small-12">
        <include src="breadcrumbs.html"></include>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Buttons
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="buttons.html"></include>
    </div>
  </div>
</section>
