<section id="components">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Components</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Service Accordians
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="accordian.html"></include>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Breadcrumbs
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-small-12">
        <include src="breadcrumbs.html"></include>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Buttons / Links
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="buttons-and-links.html"></include>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Forms
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="forms.html"></include>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Bullets
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-small-6">
        <ul>
          <li>Collage</li>
          <li>Painting</li>
          <li>Card making</li>
        </ul>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;ul&gt
  &lt;li&gtCollage&lt;/li&gt
  &lt;li&gtPainting&lt;/li&gt
  &lt;li&gtCard making&lt;/li&gt
&lt;/ul&gt</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Indent
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-small-6">
        <include src="indent.html"></include>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Cards
        </h3>
      </div>
    </div>
    <div class="row">
      <include src="card.html"></include>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h3 class="section__title">
          Search
        </h3>
      </div>
    </div>
  </div>
  <include src="search.html"></include>
</section>
