<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <a href=" https://connectedkingston.uk">
          <h1 class="page-title">CK component library</h1>
        </a>
        <nav>
          <ul>
            <li class="nav__item">
              <a class="link link--underline" href="#header">Header</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#typography">Typography</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#colours">Colours</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#iconsAndImagery">
                Icons & Imagery</a
              >
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#components">Components</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#buttons">Buttons</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#forms">Forms</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#cards">Cards</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline" href="#footer">Footer</a>
            </li>
            <li class="nav__item">
              <a class="link link--underline--alt" href="#header"
                >Back to top ☝</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
