<section id="iconsAndImagery">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Icons & Imagery</h2>
      </div>
      <div class="col-small-12">
        <h3 class="section__title">
          Logos
        </h3>
        <h4 class="section__subtitle">
          CK
        </h4>
        <div class="icons">
          <img src="/assets/img/logos/ayup-logo.svg" alt="Ayup logo" />
          <img src="/assets/img/logos/ayup-logo-white.svg" alt="Ayup logo" />
        </div>

        <h3 class="section__title">
          Icons
        </h3>
        <h4 class="section__subtitle">
          Fontello
        </h4>
        <div class="icons">
          <i class="icon-loading"></i>
          <i class="icon-read"></i>
          <i class="icon-view"></i>
          <i class="icon-values"></i>
          <i class="icon-blog-open"></i>
          <i class="icon-blog"></i>
          <i class="icon-ok"></i>
          <i class="icon-link"></i>
          <i class="icon-mail"></i>
          <i class="icon-github-circled"></i>
          <i class="icon-trello"></i>
          <i class="icon-twitter"></i>
          <i class="icon-linkedin-squared"></i>
        </div>
      </div>
    </div>
  </div>
</section>
