<section id="layout">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Layout</h2>
      </div>
    </div>
  </div>
  <div class="contrast-bg">
    <div class="container">
      <div class="row">
        <div class="col-small-12">
          <div class="content">
            <p class="body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              molestiae facere a laborum? Veritatis, ipsa non praesentium
              doloremque suscipit consectetur distinctio commodi, nobis libero
              enim expedita, aut quia consequuntur. Assumenda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Code-->
<div class="container">
  <details>
    <summary>View code</summary>
    <figure class="highlight">
      <pre><code>&lt;div class="contrast-bg"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-small-12"&gt;
        &lt;div class="content"&gt;
          &lt;p class="body"&gt;
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            molestiae facere a laborum? Veritatis, ipsa non praesentium
            doloremque suscipit consectetur distinctio commodi, nobis libero 
            enim expedita, aut quia consequuntur. Assumenda.
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </figure>
  </details>
</div>
<!--/Code-->
