<section id="media">
  <div class="container">
    <div class="row">
      <div class="col-small-12">
        <h2 class="title">Media</h2>
      </div>
      <div class="col-small-12">
        <h5 class="section__subtitle">Image</h5>
      </div>
      <div class="col-xsmall-12 col-small-8">
        <div class="image-viewer">
          <div class="image-viewer__wrapper row -xsmall-no-gutters">
            <div class="col-small-4 -xsmall-no-gutters">
              <img
                class="image-viewer__img"
                src="https://via.placeholder.com/255x180"
                alt="img"
              />
            </div>
            <div class="col-small-4 -xsmall-no-gutters">
              <img
                class="image-viewer__img"
                src="https://via.placeholder.com/255x180"
                alt="img"
              />
            </div>
            <div class="col-small-4 -xsmall-no-gutters">
              <img
                class="image-viewer__img"
                src="https://via.placeholder.com/255x180"
                alt="img"
              />
            </div>
          </div>
          <a class="image-viewer__text"
            ><i aria-hidden="true" class="image-viewer__icon fas fa-camera"></i> View images (4)</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
