<section id="typography">
  <div class="container">
    <div class="row">
      <div class=" col-small-12">
        <h2 class="title">Typography</h2>
      </div>
    </div>
    <div class="row">
      <!--Headings-->
      <div class="col-small-12">
        <h3 class="section__title">Headings</h3>
        <h5 class="section__subtitle">XL heading</h5>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h1&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h1&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">L heading</h5>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h2&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h2&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">M heading</h5>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h3&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h3&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">S heading</h5>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;h4&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/h4&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
    <div class="row">
      <!--Body-->
      <div class=" col-small-12">
        <h3 class="section__title">Body</h3>
        <h5 class="section__subtitle">Large body</h5>
        <p class="body--l">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--l"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Medium body</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Small body</h5>
        <p class="body--s">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--s"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">X-Small body</h5>
        <p class="body--xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class"body--xs"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
        <h5 class="section__subtitle">Alt body</h5>
        <p class="body--alt">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!--Code-->
        <div class="container">
          <details>
            <summary>View code</summary>
            <figure class="highlight">
              <pre><code>&lt;p class="body--alt"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;</code></pre>
            </figure>
          </details>
        </div>
        <!--/Code-->
      </div>
    </div>
  </div>
</section>
